/*
 * https://gist.github.com/jacurtis/30da4bf9a6c9b9b5cc0aebac512ca7c9
 */
$spaceamounts: (0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 75, 100); // Adjust this to include the pixel amounts you need.
$sides: (top, bottom, left, right); // Leave this variable alone

@each $space in $spaceamounts {
  @each $side in $sides {
    .m-#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px !important;
    }

    .p-#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px !important;
    }
  }
}


body {
  color: #121212;
  font-family: 'Source Sans Pro', sans-serif;
}
.navbar-blue {
  margin-bottom: 0px;
  border-bottom: none;
  background-color: $light-blue;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.1);
  @include border-radius(0px);
  a {
    color: #fff;
    font-family: "Oxygen", sans-serif;
    font-size: 18px;
    &.bordered {
      border:1px solid #fff;
      @include border-radius(3px);
      text-transform: uppercase;
      font-size: 14px;
    }
    &.with-icon {
      position:relative;
      padding-left:2.3em
    }
    &.phone-icon:before {
      position:absolute;
      left:10px;
      content:"";
      width:1.2em;
      height:1.2em;
      background-image:url("../images/phone.svg");
    }
    &:hover, &:active, &:focus {
      background-color: $dark-blue !important;
    }
  }
  li {
    padding-left:7.5px;
    padding-right:7.5px;
  }
  .navbar-toggle {
    margin-top:11px;
    border-color:#fff;
    span {
      background-color: #fff;
    }
  }
  .logo {
    width: 35px;
    height: auto;
  }
  .navbar-brand-centered {
    background-color: $dark-blue;
    height: auto;
    padding: 5px 10px;
  }
}
@media screen and (min-width:$screen-sm){
  .logo {
    width: $logo-width !important;
    height: $logo-height !important;
  }
  .navbar-brand-centered {
    position: absolute;
    left: 50%;
    display: block;
    text-align: center;
    background-color: $dark-blue;
    height: auto !important;;
    padding: $logo-padding-top $logo-padding-left-right $logo-padding-bottom !important;
    margin-left: (($logo-width + $logo-padding-left-right * 2) / -2) !important;
  }
  .navbar-nav {
    padding-top: 45px;
    padding-bottom: 45px;
  }
}
.content p {
  font-size: 18px;
}
.banner-heading {
  background-image: url("../images/banner.jpg");
}
.heading-primary {
  font-family: "Open Sans", sans-serif;
  font-size: 90px !important;
  font-weight: 600;
  line-height:110px;
}
.heading-secondary {
  font-family: "Oxygen", sans-serif;
  font-size: 60px !important;
  font-weight: 300;
  line-height: 75px;
}
.lead {
  font-size: 21px !important;
  font-family: "Oxygen", sans-serif;
}
.colored {
  color: $light-blue;
  font-size:24px;
  font-family: "Oxygen", sans-serif;
}
.with-colored-border {
  border-left: 1px solid $light-blue;
}
.blue-bullet {
  list-style:none;
  padding-left:0px;
  li {
    position: relative;
    padding-left: 35px;
  }
  li:before {
    position:absolute;
    content:"";
    top:50%;
    left:0px;
    width: 5px;
    height: 5px;
    margin-top: -3px;
    background-color: $light-blue;
    @include border-radius(50%);
  }
}
.btn {
  position:relative;
}
.btn-blue {
  background-color: $light-blue;
  color: #fff;
  font-family: "Oxygen", sans-serif;
  font-size: 21px;
  padding-top: 20px;
  padding-bottom: 20px;
  &:hover, &:active, &:focus {
    color: #fff;
    background-color: $dark-blue;
  }
}
.btn-inner-border {
  &:before {
    content:"";
    position:absolute;
    width:calc(100% - 10px);
    height:calc(100% - 10px);
    top:5px;
    left:5px;
    border:1px solid rgba(255,255,255,0.3);
    @include border-radius(3px);
  }
}
footer {
  background-color: #0E171F;
}
.horizontal-list {
  list-style: none;
  padding-left: 0px;
  li {
    display: inline-block;
    margin-right: 20px;
    a {
      color: #89afd1;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 16px;
      &:hover {
        color: $dark-blue;
        text-decoration: none;
      }
    }
    &:after {
      content: "";
      border-right: 1px solid #fff;
      padding-right:20px;
    }
    &:last-child:after {
      border-width:0px;
    }
  }
}
.footer-msg {
  margin:0px;
  color:#fff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
}